/* Count Section */
.count__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--x-1-25) 0;
}
.count__title p {
  color: var(--gray-color);
  font-size: var(--smaller-font);
  font-weight: var(--medium);
}
.count__count {
  display: flex;
  align-items: center;
}
.count__count > input {
  width: 2.5rem;
  height: 1.875rem;
  font-size: var(--normal-font);
  font-weight: var(--semi-bold);
  text-align: center;
  margin: 0 var(--x-0-25);
  outline: none;
  border: none;
  background-color: var(--white-color);
}
