.map__container {
  height: 31.25rem;
}

/* ------------- For Extra Large Device ------------- */
@media screen and (min-width: 1200px) {
  .map {
    position: fixed;
    width: 45%;
    height: 100vh;
    top: var(--header-height);
    right: 0;
  }
  .map__container {
    height: 100%;
  }
}
