.result__card {
  cursor: pointer;
  display: flex;
  gap: var(--x-1);
  border-bottom: var(--border);
  border-color: var(--gray-alt-color);
  margin-top: var(--x-1-75);
  padding-bottom: var(--x-1);
}
.result__card--img img {
  object-fit: cover;
  border-radius: var(--radius);
}
.result__card--title {
  font-weight: var(--bold);
  font-size: var(--small-font);
  color: var(--dark-color);
}
.result__card--gusts,
.result__card--facilities,
.result__card--cancel {
  font-weight: var(--semi-bold);
  font-size: var(--smaller-font);
  margin-top: var(--x-0-25);
  color: var(--gray-color);
}
.result__card--cancel {
  margin-top: var(--x-1);
}

.result__rating--price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--x-0-75);
}
.result__card--rating {
  font-weight: var(--bolder);
  font-size: var(--smallest-font);
  display: flex;
  align-items: center;
  gap: var(--x-0-25);
  color: var(--gray-color);
}
.result__card--rating .MuiSvgIcon-root {
  color: var(--green-color) !important;
  font-size: var(--small-font) !important;
}

.result__card--price {
  font-weight: var(--bold);
  font-size: var(--small-font);
  color: var(--dark-color);
}

/* ====================== MEDIA QUERIES =====================
/* ------------- For Small Device ------------- */
@media screen and (max-width: 340px) {
}
@media screen and (max-width: 576px) {
  .result__card {
    max-width: 20rem;
    margin: var(--x-1-75) auto 0;
  }
  .result__card {
    flex-direction: column;
  }
}

/* ------------- For Medium Device ------------- */
@media screen and (min-width: 576px) {
  .result__card--img {
    max-width: 15.625rem;
    height: 9.375rem;
    overflow: hidden;
    border-radius: var(--radius);
  }
}

/* ------------- For Tablet, Laptop ------------- */
@media screen and (min-width: 768px) {
  .result__card--img {
    height: 11.25rem;
    max-width: 18.75rem;
  }
}

/* ------------- For Large Device ------------- */
@media screen and (min-width: 1024px) {
  .result__card--img {
    max-width: 11.25rem;
  }
}
/* ------------- For Extra Large Device ------------- */
@media screen and (min-width: 1200px) {
  .result__card {
    max-width: 37.5rem;
  }
  .result__card--img {
    max-width: 13.75rem;
    height: 9.375rem;
  }
}
